h3 {
	.fa.fa-heart {
		font-size: 16px;
		margin-right: 5px;
		margin-left: 2px;
	}
}

.photos {
	display: flex;
	flex-wrap: wrap;
	margin: auto;
	max-width: 1300px;
}

.photo {
	min-width: 200px;
	flex-grow: 1;
	flex: 1;
	padding: 8px;

	.wrap {
		text-decoration: none;
		position: relative;
		overflow: hidden;
		min-width: 0;
	}

	.thumb {
		position: relative;
		height: 150px;

		background: linear-gradient(to bottom, #D5DEE7 0%, #E8EBF2 50%, #E2E7ED 100%),
		linear-gradient(to bottom, rgba(0, 0, 0, 0.02) 50%, rgba(255, 255, 255, 0.02) 61%, rgba(0, 0, 0, 0.02) 73%),
		linear-gradient(33deg, rgba(255, 255, 255, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%);
		background-blend-mode: normal, color-burn;

		.image {
			background-position: center center;
			background-size: cover;
			background-repeat: no-repeat;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: 0;
			transition: opacity 0.2s ease-in-out;
			box-shadow: rgba(0, 0, 0, 0.05) 0 0 0 1px inset;

			&.is-loaded {
				opacity: 1;
			}
		}
	}

	.counters {
		display: flex;
	}

	.likes, .comments {
		line-height: normal;
		font-size: 12px;
		padding: 5px 2px 0;
		color: #888;
		font-weight: 500;

		i.fa.fa-heart,
		i.fa.fa-heart-o,
		i.fa.fa-comment-o {
			font-size: 11px;
			margin-right: 5px;
			color: $color-primary;
		}

		i.fa.fa-heart-o,
		i.fa.fa-comment-o {
			color: inherit;
		}

		i.fa.fa-comment-o {
			position: relative;
			top: -1px;
		}
	}

	.comments {
		margin-left: auto;
	}
}