.user-list {
	.user {
		display: flex;
		border: solid 1px #cccccc;
		margin-bottom: 2px;

		& > div:first-child {
			width: 30px;
			flex: 0;
			flex-basis: 34px;
		}

		& > div {
			flex: 1;
			padding: 4px;
			font-size: 13px;

			&:not(:last-child) {
				border-right: solid 1px #cccccc;
			}
		}

		.edit {
			flex: 0;
			flex-basis: 20px;
			text-align: center;
		}
	}
}