html, body {
  //font-family: 'Roboto', sans-serif;
  //font-family: 'Didact Gothic', sans-serif;
  //font-family: 'Rubik', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  height: 100%;
  color: #333;
}

* {
  box-sizing: border-box;
  letter-spacing: -0.2px;
}

#root, .router-switch {
  height: 100%;
}

.views {
  padding: 20px;
  flex: 1;
  overflow: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  text-align: center;
  margin: 50px 0 10px;
  font-size: 40px;
  font-weight: 600;
  color: #555;
  min-height: 46px;
  letter-spacing: -0.4px;
}

h2 {
  margin-top: 0;
  display: flex;
  align-items: baseline;

  .action {
    margin-left: auto;
    cursor: pointer;
    font-size: 14px;
  }
}

h3 {
  text-align: center;
  color: #999;
  margin-bottom: 50px;
  font-weight: 500;
}

.content {
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
  padding: 0 $default-padding;
}

.flex {
  display: flex;
}

.Title {
  text-align: center;
  font-size: 40px;
  color: #555;
  padding: 50px 0 10px;
}

.Subtitle {
  text-align: center;
  color: #999;
  margin-bottom: 50px;
}