@import "../../styles/context";

.Header {
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $header-height;
  //background-color: lightblue;

  * {
    transform: translateZ(0);
  }

  .wrap {
    max-width: $max-width;
    display: flex;
    margin: auto;
    justify-content: center;
    height: 100%;
  }

  .likeometer {
    display: flex;
    align-items: center;
    width: 115px;
    padding-left: 10px;
    margin-right: 50px;

    img {
      height: 20px;
      margin-top: -8px;
    }
  }

  .links {
    display: flex;
    align-items: center;
    padding: 0px 20px;
    //border-bottom: solid 2px transparent;
    transition: all 0.1s ease-in-out;
    position: relative;
    opacity: 0.9;

    i {
      font-size: 15px;
      transition: all 0.1s ease-in-out;
    }

    span {
      font-size: 9px;
      margin-left: 10px;
      font-weight: 500;
      text-transform: uppercase;
      margin-top: 1px;
    }

    &:after {
      content: '';
      $size: 6px;
      width: $size;
      height: $size;
      left: 50%;
      margin-left: -$size/2;
      bottom: 4px;
      border-radius: 50%;
      background-color: $color-primary;
      position: absolute;
      opacity: 0;
      transition: opacity 0.1s ease-in-out;
    }

    &.active:after {
      //opacity: 1;
    }

    &.active {
      i {
        &.fa-camera {
          color: $color-primary;
        }

        &.fa-user {
          color: $color-green;
        }

        &.fa-user-friends {
          color: $color-yellow;
        }
      }
    }
  }

  .user {
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: 500;
    margin-left: auto;

    .image {
      $size: 32px;
      width: $size;
      height: $size;
      margin-left: 10px;
      border-radius: 50%;
      overflow: hidden;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
  }
}